*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
  
    display: flex;
    height: 14vh;
    align-items: center;
    justify-content: space-around;
}
.travelbeta{
    width:10%;
    object-fit: contain;
}
.log{
    display: flex;
    align-items: center;
}
ul{
    display: flex;
}
li{
    list-style: none;
    padding-left: 20px;
}
a{
    font-size: 20px;
    text-decoration: none;
    color: black;
}
.login{
    padding-right: 20px;
}
.btn{
    background-color: rgb(255, 174, 0);
    color: white;
    border-radius: 5px;
    border: none;
    padding: 16px;
    font-size: 20px;

    width:14rem;
}
/* ending of header */
.somwhere{
    position: relative;
   
}
.going-some{
    position: relative;
    background-position: center;
   height: 50vh;
   background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/images/goingwhere.webp');
}
.going{
    color: white;
    position: absolute;
    top:10rem;
    left:50px;
    font-size: 90px;
    
}
.flex-book{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.booking{
    background-color: white;
    padding: 30px;
   /* margin-left: 5%;
   margin-right: 5%;
   z-index: -5px; */
  /* position: absolute; */
  margin-top:-29px;
   height: 10vh;
}

.bookings-1{
    display: flex;
}
.center{
  
   
}
.required{
    cursor: pointer;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    margin-left: 20px;
    padding-left: 20px;
}
/* .required:hover{
    border: 2px solid black;
    
    margin-left: 20px;
   
} */
.together{
   position: relative;
    /* text-align: center; */
    margin-left: 6%;
    margin-right: 6%;
   bottom: 10rem;
    /* width: 600px; */
}
.active{
    border: 2px solid black;
    border-radius: 5px;
    
}
.gether1{
    margin: 10px;
}
.check{
    padding: 4px;
    background-color: orange;
    border-radius: 999px;
}

.calendars{
    background-color: rgb(4, 4, 60);
    height: 19vh;
    color: white;
}
.top{
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    margin-left: 20px;
}
/* botttom */
.first{
    display: flex;
    margin-left: 30px;
    align-items: center;
}
.first-class{
    background-color: white;
    color: black;
    border-radius: 5px;
    width:400px;
    height: 80px;
    padding: 10px;
    margin-left: 20px;
}
#arrow{
    background-color: rgba(107, 110, 110, 0.825);
    border-radius: 999px;
    padding: 7px;
    color: white;
    font-size: 34px;
}
.first-class2{
    background-color: rgb(213, 119, 26);
    color: white;
    border-radius: 5px;
    width:350px;
    height: 80px;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-left: 20px;
}
.first-class3{
    background-color: white;
    color: black;
    border-radius: 5px;
    width:280px;
    height: 80px;
    padding: 10px;
    margin-left: 20px;
}
.first-class1{
   display: flex;
   justify-content:flex-start;
  align-items: center;
 }
 .plani{
    font-size: 30px;
    color: rgb(235, 235, 225);
    margin-right: 25px;
 }
 #plani{
    font-size: 20px;
    color: rgb(235, 235, 225);
    margin-right: 25px;
 }
 #inpu{
    margin-top: 5px;
    padding: 5px;
    width:17rem;
    border: none;
    outline: none;
 }
 .inputt{
    margin-top: 5px;
    padding: 5px;
    width:13rem;
    border: none;
    outline: none;
 }
 input::placeholder{
    font-size: 18px;
 }
.bottom{
    display: flex;
    margin-top: 40px;
    
    justify-content: center;
}
/* select{
    width:40px;
} */

/* third */
.third{
    display: flex;
    position: relative;
padding-bottom: 30px;
    align-items: center;
    justify-content: center;
}
.services{
    display: flex;
    padding: 8px;
    height:13vh;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
   cursor: pointer;
}
.services:hover{
    background-color: rgb(213, 223, 240);
}
.services1:hover{
    background-color: rgb(213, 223, 240);
}
.services1{
    cursor: pointer;
    display: flex;
    /* margin-left: 40px; */
    align-items:start;
    /* width:300px; */
    height:13vh;
    padding: 8px;
   
}
.blue{
    margin-left: 20px;
    
}
.cap{
    width:60px;
    object-fit: contain;
}
.topic{
    font-size: 26px;
}
.describe{
    font-size: 20px;
    width:380px;
    color: rgb(157, 153, 148);
    margin-top: 20px;
}
/* #arrowR{
    position: absolute;
    left:20rem;
} */

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
/* fourth */
.trend{
    font-size: 30px;
}
@media screen and (max-width:480px){
    .third{
        display: block;
        background-color: green;
    }
}